
@keyframes hello{
    0%{
        transform: translateX(-100rem);
        opacity: 0;
        transition: all ease-in-out .5s;
    }
    100%{
        transform: translateX(-50%);
        left: 50%;

        opacity: 1;
        transition: all ease-in-out .5s;


    }
   

}


@keyframes blur{
    from{
        filter: blur(.5rem);
        transition: all ease-in-out .5s;
    }

    to{
        opacity: 1;
        transition: all ease-in-out .5s;
        filter: blur(0rem);

    }
}


@keyframes wow{
    from{
        text-shadow: 1px 1px 2px rgb(255, 0, 0), 0 0 1em rgb(187, 58, 58), 0 0 0.2em rgb(238, 49, 49);  
              transition:  all ease-in-out .5s;
       
    }  
    to{
        text-shadow: 1px 1px 20px rgb(0, 255, 85), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(21, 255, 0); 
               transition:  all ease-in-out .5s;

   
    }
}
@keyframes wow2{
    from{
        text-shadow: 1px 1px 2px rgb(202, 202, 202), 0 0 1em rgb(187, 58, 58), 0 0 0.2em rgb(238, 49, 49);  
              transition:  all ease-in-out .5s;
       
    }  
    to{
        text-shadow: 1px 1px 20px rgb(255, 8, 0), 0 0 1em rgb(243, 243, 243), 0 0 0.2em rgb(255, 0, 0); 
               transition:  all ease-in-out .5s;

   
    }
}
@keyframes wow3{
    from{
        text-shadow: .1rem .1rem .2rem rgb(237, 240, 89), 0 0 1rem rgb(253, 253, 253), 0 0 .2rem rgb(250, 250, 250);  
              transition:  all ease-in-out .5s;
       
    }  
    to{
        text-shadow: .1rem .1rem .2rem rgb(203, 206, 37), 0 0 1rem rgb(251, 240, 240), 0 0 0.2rem rgb(204, 228, 69); 
               transition:  all ease-in-out .5s;

   
    }
}
@keyframes wow4{
    from{
        text-shadow: .1rem .1rem .2rem rgb(237, 240, 89), 0 0 1em rgb(173, 54, 228), 0 0 0.2em rgb(195, 38, 174);  
              transition:  all ease-in-out .5s;
       
    }  
    to{
        text-shadow: .1rem .1rem .2rem rgb(203, 206, 37), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(204, 228, 69); 
               transition:  all ease-in-out .5s;

   
    }
}


/*pris sur internet ce bloc*/
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625rem 0 #0c2ffb, 
            0 -0.125rem 0 #2cfcfd, 
            0 0.0625rem 0 #fb203b, 
            0 0.125rem 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125rem 0 #0c2ffb, 
            0 0.0625rem 0 #2cfcfd, 
            0 -0.03125rem 0 #fb203b, 
            0 -0.0625rem 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}
